<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Save any kind of movies</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
  </div>


<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                <% @lists.each do |list| %>
                 <div class="col">
                <div class="card h-100 shadow-sm">
                <% if list.photo.attached? %>
                <%= cl_image_tag(list.photo.key, crop: :scale class: "card-img-top") %>
                <% else %>
                <%= image_tag("https://media.istockphoto.com/photos/popcorn-and-clapperboard-picture-id1191001701?k=20&m=1191001701&s=612x612&w=0&h=uDszifNzvgeY5QrPwWvocFOUCw8ugViuw-U8LCJ1wu8=", class: "card-img-top", crop: :scale) %>
                <% end  %>
                    <div class="card-body">
                        <div class="clearfix mb-3"></div>
                        <h5 class="card-title card-text text-center"> <%= list.name %></h5>
                        <div class="text-center my-4"> <a href="<%= list_path(list) %>" class="btn btn-warning">Edit List</a> </div>
                    </div>
                </div>
            </div>
<% end %>
