<div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4">
        <%= link_to list_path(list), class: "text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("") %>)">
            <%= list.name %>
            <%# <%= cl_image_path(list.photo.key) %>
            <% if list.photo.attached? %>
            <%= cl_image_tag(list.photo.key, crop: :scale) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
